@model Web20.Models.Editor

@{
    ViewData["Title"] = "Details";
}

@{ 
    IEnumerable<Revistum> revistas = ViewData["Revista"] as IEnumerable<Revistum>;
}

<h1>Dados do editor</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Editor
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeEditor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodPostal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodPostal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.CodPaisNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodPaisNavigation.NomePais)
        </dd>
    </dl>
</div>
<div>
    <h3>Revistas do Editor</h3>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Titulo
                </th>
                <th>
                    Aleph
                </th>
                <th>
                   Ibict
                </th>
                <th>
                    ISSN
                </th>
                <th>
                    
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Revistum revista in revistas)
            {
                <tr>
                    <td style="width:40%">
                        @Html.DisplayFor(modelItem => revista.Titulo)

                    </td>
                    <td style="width:15%">
                        @Html.DisplayFor(modelItem => revista.Aleph)
                    </td>
                    <td style="width:15%">
                        @Html.DisplayFor(modelItem => revista.Ibict)
                    </td>
                    <td style="width:15%">
                        @Html.DisplayFor(modelItem => revista.Issn)
                    </td>
                    <td style="width:15%">
                        <a asp-controller="Revistums" asp-action="Edit" class="editar" asp-route-id="@revista.Id" title="Editar">Edit</a>
                        <a asp-controller="Revistums" asp-action="Details" class="detalhar" asp-route-id="@revista.Id" title="Detalhe">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>
