@model IEnumerable<Web20.Models.Revistum>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    IEnumerable<Revistum> bimestralpdf = ViewData["BimestralPDF"] as IEnumerable<Revistum>;
    IEnumerable<Revistum> trimestralpdf = ViewData["TrimestralPDF"] as IEnumerable<Revistum>;
    IEnumerable<Revistum> quadrimestralpdf = ViewData["QuadrimestralPDF"] as IEnumerable<Revistum>;
    IEnumerable<Revistum> semestralpdf = ViewData["SemestralPDF"] as IEnumerable<Revistum>;
    IEnumerable<Revistum> anualpdf = ViewData["AnualPDF"] as IEnumerable<Revistum>;
}

<h1>Revistas com recebimento em atraso</h1>
<br />
<h2>Mensal</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdEditorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdPeriodicidadeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="35%">
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td width="15%">
                    @Html.DisplayFor(modelItem => item.Chegada)
                </td>
                <td width="35%">
                    @Html.DisplayFor(modelItem => item.CdEditorNavigation.NomeEditor)
                </td>
                <td width="15%">
                    @Html.DisplayFor(modelItem => item.CdPeriodicidadeNavigation.TipoPeriodicidade)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<h2> Bimestral</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdEditorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdPeriodicidadeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bimestre in bimestralpdf)
        {
            <tr>
                <td width="35%">
                    @Html.DisplayFor(modelItem => bimestre.Titulo)
                </td>
                <td width="15%">
                    @Html.DisplayFor(modelItem => bimestre.Chegada)
                </td>
                <td width="35%">
                    @Html.DisplayFor(modelItem => bimestre.CdEditorNavigation.NomeEditor)
                </td>
                <td width="15%">
                    @Html.DisplayFor(modelItem => bimestre.CdPeriodicidadeNavigation.TipoPeriodicidade)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<h2> Trimestral</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdEditorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdPeriodicidadeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trimestre in trimestralpdf)
        {
            <tr>
                <td width="35%">
                    @Html.DisplayFor(modelItem => trimestre.Titulo)
                </td>
                <td width="15%">
                    @Html.DisplayFor(modelItem => trimestre.Chegada)
                </td>
                <td width="35%">
                    @Html.DisplayFor(modelItem => trimestre.CdEditorNavigation.NomeEditor)
                </td>
                <td width="15%">
                    @Html.DisplayFor(modelItem => trimestre.CdPeriodicidadeNavigation.TipoPeriodicidade)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<h2> Quadrimestral</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdEditorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdPeriodicidadeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quadrimestre in quadrimestralpdf)
        {
            <tr>
                <td width="35%">
                    @Html.DisplayFor(modelItem => quadrimestre.Titulo)
                </td>
                <td width="15%">
                    @Html.DisplayFor(modelItem => quadrimestre.Chegada)
                </td>
                <td width="35%">
                    @Html.DisplayFor(modelItem => quadrimestre.CdEditorNavigation.NomeEditor)
                </td>
                <td width="15%">
                    @Html.DisplayFor(modelItem => quadrimestre.CdPeriodicidadeNavigation.TipoPeriodicidade)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<h2> Semestral</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdEditorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdPeriodicidadeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var semestre in semestralpdf)
        {
            <tr>
                <td width="35%">
                    @Html.DisplayFor(modelItem => semestre.Titulo)
                </td>
                <td width="15%">
                    @Html.DisplayFor(modelItem => semestre.Chegada)
                </td>
                <td width="35%">
                    @Html.DisplayFor(modelItem => semestre.CdEditorNavigation.NomeEditor)
                </td>
                <td width="15%">
                    @Html.DisplayFor(modelItem => semestre.CdPeriodicidadeNavigation.TipoPeriodicidade)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<h2> Anual </h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdEditorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdPeriodicidadeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ano in anualpdf)
        {
            <tr>
                <td width="35%">
                    @Html.DisplayFor(modelItem => ano.Titulo)
                </td>
                <td width="15%">
                    @Html.DisplayFor(modelItem => ano.Chegada)
                </td>
                <td width="35%">
                    @Html.DisplayFor(modelItem => ano.CdEditorNavigation.NomeEditor)
                </td>
                <td width="15%">
                    @Html.DisplayFor(modelItem => ano.CdPeriodicidadeNavigation.TipoPeriodicidade)
                </td>
            </tr>
        }
    </tbody>
</table>