@model Web20.Models.Revistum

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Revista</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aleph)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aleph)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ibict)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ibict)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Issn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Issn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chegada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chegada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CdAquisicaoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CdAquisicaoNavigation.TipoAquisicao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CdEditorNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CdEditorNavigation.NomeEditor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CdPeriodicidadeNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CdPeriodicidadeNavigation.TipoPeriodicidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
