@model IEnumerable<Web20.Models.Editor>


@{
    ViewData["Title"] = "Index";
}

<h1>Editores</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>

<form asp-controller="Editors" asp-action="Index" method="get">
    <p>
        <input type="text" name="SearchString" class="form-control" placeholder="Editor">
        <input type="submit" value="Pesquisar" class="btn btn-info" />

    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Editor
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                Pais
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:38%">
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.NomeEditor) </a>
                </td>
                <td style="width:38%">
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td style="width:14%">
                    @Html.DisplayFor(modelItem => item.CodPaisNavigation.NomePais)
                </td>
                <td style="width:10%">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="editar" title="Editar">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="detalhar" title="Detalhar">Detalhe</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="apagar" title="Apagar" asp-controller="Editors">Apagar</a>
                    
                        
                </td>
            </tr>
        }
    </tbody>
</table>
