@model IEnumerable<Web20.Models.Revistum>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Aleph
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ibict)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issn)
            </th>
            <th>
                Editor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="width:38%">
                @Html.DisplayFor(modelItem => item.Titulo)
                
            </td>
            <td style="width:10%">
                @Html.DisplayFor(modelItem => item.Aleph)
            </td>
            <td style="width:10%">
                @Html.DisplayFor(modelItem => item.Ibict)
            </td>
            <td style="width:10%">
                @Html.DisplayFor(modelItem => item.Issn)
            </td>
            <td style="width:22%">
                @Html.DisplayFor(modelItem => item.CdEditorNavigation.NomeEditor)
            </td>
            <td style="width:10%">
                <a asp-action="Edit" class="editar" asp-route-id="@item.Id" title="Editar">Edit</a>
                <a asp-action="Details" class="detalhar" asp-route-id="@item.Id" title="Detalhe">Details</a>
                <a asp-action="Delete" class="apagar" asp-route-id="@item.Id" title="Apagar">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
